﻿@using Titles.ViewModel;
@model SearchTitleViewModel
@{
    ViewBag.Title = "Titles";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            @*<p>
                    To learn more about ASP.NET MVC visit
                    <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                    The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                    If you have any questions about ASP.NET MVC visit
                    <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
                </p>*@
        </div>
    </section>
<script language="javascript" type="text/javascript">

    //$(document).ready(function () {
    //    $("#search").click(function () {
    //        $('#frmClaimReport').submit();
    //    });
    //});

    function searchClick() {
        var form = document.getElementById("frmTitleReport");
        form.submit();
    }
    
    function selectTitle(titleId) {
        window.location = '@Url.Action("Index", "Home")' + '?titleId=' + titleId;
        return false;
    }
</script>
<style type="text/css">
    
    .webgrid-table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        width: 100%;
        display: table;
        border-collapse: separate;
        border: solid 1px #98BF21;
        /*background-color: white;*/
    }

        .webgrid-table td, th {
            border: 1px solid #98BF21;
            padding: 3px 7px 2px;
        }

    .webgrid-header {
        background-color: #0094ff;
        /*color: #FFFFFF;*/
        padding-bottom: 4px;
        padding-top: 5px;
        text-align: left;
    }

    .webgrid-footer {
    }

    .webgrid-row-style {
        padding: 3px 7px 2px;
    }

    .webgrid-alternating-row {
        background-color: #EAF2D3;
        padding: 3px 7px 2px;
    }

    .columnStyle {
        width: 80px !important;
    }

    .checkColumn {
        width: 50px !important;
        text-align: center;
    }

    .singleButton {
        width: 80px !important;
        text-align: center;
        background-color: #cccccc;
        color: Blue;
        font-weight: bold;
    }

</style>

}
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @name = "frmTitleReport", @id = "frmTitleReport" }))
{
<div id="searchDiv" style="width: 100%; margin-left: -5px;">
    <div style="width: 500px; margin: 0 0 10px 55px; position: relative;">
        @Html.ValidationSummary("Please correct the following errors:", new { @style = "font-weight:normal;border:1px solid #015C89; padding:10px 2px 0 30px ;background-color:#FFFFAE;" })
    </div>
    <table>
        <tr>
            <td colspan="8">
                <span style="font-size: 12px; font-weight: bold; color: #1e4387;">
                    Search Criteria
                </span>
            </td>
        </tr>
        <tr>
            <td>
                Title
            </td>
            <td style="padding-left: 5px; width:100px">
                @Html.TextBoxFor(model => model.SearchTitleName, new { @style = "width:150px" })
            </td>
            <td>
                <span>
                    &nbsp;&nbsp;&nbsp;<a id="search" href="#" class="RedButton" onclick="searchClick();" style="height: 25px;">
    Search
</a>
                </span>                
            </td>            
        </tr>
    </table>
</div>
<div id="resultDiv" style="width: 100%; margin-left: -5px;">
    <span style="font-size: 12px; font-weight: bold; color: #1e4387;">
        Search Results
    </span>
    <div class="grid">
        @if (Model.SearchResults == null || Model.SearchResults.Count == 0)
        {
            <table class="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Title Id
                        </th>
                        <th>
                            Title Name
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="5" align="center">
                            <br />
                            No users found.<br />
                            <br />
                        </td>
                    </tr>
                </tbody>
            </table>
        }
        else
        {

            var grid = new WebGrid(Model.SearchResults, canPage: false);

            @grid.GetHtml(htmlAttributes: new { @style = "width:70%; height:100; scroll:auto; border-width=1px;", cellspacing = "0" },
                 tableStyle: "webgrid-table",
             headerStyle: "webgrid-header",
             footerStyle: "webgrid-footer",
             alternatingRowStyle: "webgrid-alternating-row",
             selectedRowStyle: "webgrid-selected-row",
             rowStyle: "webgrid-row-style",
                                                    columns: grid.Columns(
                                                        grid.Column(header: "Select",
                                                                style: "checkColumn",
                                                            format: @<text><input class="singleButton" id="@item.TitleId" name="selectButton" type="button" onclick="selectTitle(this.id);" value="Select" /></text>),

                     grid.Column(header: "Title Id", format: item => item.TitleId, style: "columnStyle"),
                     grid.Column(header: "Title Name", format: @item => item.TitleName, style: "columnStyle")
                     //grid.Column(header: "Title Name Sortable", format: (item) => item.TitleNameSortable, style: "columnStyle"),
                     //grid.Column(header: "Title Type Id", format: (item) => item.TitleTypeId, style: "columnStyle"),
                     //grid.Column(header: "Release Year", format: item => item.ReleaseYear, style: "columnStyle"),
                     //grid.Column(header: "Processed Date Time", format: item => item.ProcessedDateTime, style: "columnStyle")
                     ))

        }
    </div>
</div>
<div id="detailsDiv" style="width: 100%; margin-left: -5px;">
    
    <table>
        
        <tr>
            <td>
                Title Name:
            </td>
            <td style="padding-left: 5px; width:100px">
                @Html.TextBoxFor(model => model.SelectedTitle.TitleName, new { @style = "width:150px" })
            </td>                 
        </tr>

        <tr>
            <td>
                Release Year:
            </td>
            <td style="padding-left: 5px; width:100px">
                @Html.TextBoxFor(model => model.SelectedTitle.ReleaseYear, new { @style = "width:150px" })
            </td>
        </tr>
    </table>
</div>

}

